body{
    background-color: red;
}
.container{
    background-color: white;
    display: grid;
    width: 75%;
    height: 100vh;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
}

.nabidka{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
}
.nabidka1{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
}
.nabidka2{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: center;
    align-items: center;
}
.nabidka3{
    display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-content: center;
    align-items: center;
}
.nabidka4{
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-content: center;
    align-items: center;
}
.nabidka5{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
   
}
.nabidka5 img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.nabidka6{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: center;
    align-items: center;
   
}
.nabidka6 img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.nabidka6{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: center;
    align-items: center;
}
.nabidka6 img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.nabidka7{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
}
.nabidka7 img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.nabidka8{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
}
.nabidka8 img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.nabidka9{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: center;
    align-items: center;
}
.nabidka9 img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.nabidka10{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
}
.nabidka10 img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
