body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 8px rgba(255 140,0), -1px -2px 10px rgba(0,0,0);
  }
  
  .venuse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px);
    width: 46px;
    height: 46px;
    background-color: burlywood;
    border-radius: 50%;
    animation: orbit-venuse 9s linear infinite;
  }
  
  .mars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px);
    width: 28px;
    height: 28px;
    background-color: red;
    border-radius: 50%;
    animation: orbit-mars 5s linear infinite;
    box-shadow: 2px 2px 8px 8px rgba(255, 3, 0), -1px -2px 10px rgba(0,0,0);
  }
  
  .earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translateX(200px);
    width: 54px;
    height: 54px;
    background-color: blue;
    border-radius: 50%;
    animation: orbit-earth 15s linear infinite;
  }
  
  @keyframes orbit-venuse {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateX(210px);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateX(210px);
    }
  }
  
  @keyframes orbit-mars {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateX(120px);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateX(120px);
    }
  }
  
  @keyframes orbit-earth {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateX(270px);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateX(270px);
    }
  }